
    <div>
        <form action="" method="post">
            <label for="input-vip">Enter the right password</label>
            <input type="text" name="admin_pass">
            <button class="vipBtn" type="submit">SEND</button>

        </form>
    </div>
