
    <div class="container-delete-post">
        <form action="" method="POST" class="formDeletedd">
         <label for="yesDeleteBtn" class="deleteLabel">Do you really want to delete this post ?</h1>
         <input type="hidden" name="postsid" value="<%-posts._id%>">
         <button  name="yesDeleteBtn" type="submit" class="yeBtn">YES</button>
         <a href=<%-posts.url%></a><button name="noDeleteBtn" class="noBtn">NO</button></a> 
        </form>
    </div>
